version: "3.9"

services:
  web:
    build: .
    container_name: kino_web
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: kino_redis
    ports:
      - "6379:6379"

  celery:
    build: .
    container_name: kino_celery
    command: celery -A config worker -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web